<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer">
      <!-- Contact List -->
      <div class="footer-contact-list">
        <span>
          {%- if site.author -%}
            {{ site.author | escape }}
          {%- else -%}
            {{ site.title | escape }}
          {%- endif -%}
        </span>
        <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
      </div>

      <!-- Socials -->
      <div class="footer-socials">
        {%- include social.html -%}
      </div>

      <!-- Site description -->
      <div class="footer-description">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
